*.class
*.class
*.apk
*.jar
bin/
gen/
*.class

NourritureAndroidApp/bin/classes.dex

NourritureAndroidApp/bin/resources.ap_

NourritureAndroidApp/bin/NourritureAndroidApp.apk

*.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/MainActivity.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/MomentDetialActivity.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$6.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$5.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$4.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$3.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$2.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment$1.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/ui/HomeFragment.class

NourritureAndroidApp/bin/classes/com/gltype/nourriture/imageCache/ImageManager.class

*.class
