<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gltype.nourriture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="100" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

	<instrumentation 
	    android:label="Tests" 
	    android:targetPackage="com.gltype.nourriture" 
	    android:name="android.test.InstrumentationTestRunner">
	</instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.gltype.nourriture.app.NourritureApp">
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name="com.gltype.nourriture.ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name="com.gltype.nourriture.ui.RegisterActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.MainActivity" 
		    android:theme="@style/theme_fullScreen"
			android:windowSoftInputMode="adjustPan"/>
		
	
		<activity android:name="com.gltype.nourriture.ui.ProductDetialActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.UserEditActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.UserDetialActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.ProductEditActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.RecipeDetialActivity"
		     android:theme="@style/theme_fullScreen" />
		<activity android:name="com.gltype.nourriture.ui.RecipeEditActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.IngredientDetialActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.IngredientEditActivity"
		     android:theme="@style/theme_fullScreen" />
		<activity android:name="com.gltype.nourriture.ui.AddMomentActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.MomentDetialActivity" 
		     android:theme="@style/theme_fullScreen"/>
		<activity android:name="com.gltype.nourriture.ui.MomentEditActivity"
		     android:theme="@style/theme_fullScreen" />
    </application>

</manifest>
